/*
*********
RESET
*********
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/*
*********
DEBUG
*********
*/
header{
    background-color: #add8e6;
    padding: 10px;
}
 
.contenitor-debug{
    display: flex;
    justify-content: space-between;
    background-color: #daa520;
    border: 1px dashed black;
    margin: 0px auto;
    width: 900px;
    padding: 5px;
}

.logo-debug{
    flex-grow: 1;
}

.link-debug{
    border-left: 2px dashed black;
    height: 100%;
    flex-grow: 2;
    text-align: center;
}

.login-debug{
    border-left: 2px dashed black;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}


/*
*********
box
*********
*/
.box{
    margin: 20px auto;
    height: 300px;
    width: 900px;
    border: 1px dashed black;
    display: flex;
}

/*
*********
fine box
*********
*/

/*
*********
one
*********
*/

#one{
    background-color: #00008b;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#one div{
    height: 300px;
    width: 600px;
    background-color: #ee82ee;
    border: 1px dashed black;
    border-radius: 2%;
    
}

/*
*********
Section
*********
*/

section{
    padding: 5px;
}

.blue{
    background-color: #1e90ff;
    flex-grow: 2;
}

.pink{
    background-color: #ffc0cb;
    flex-grow: 1;  
}

.bg-grey{
    background-color: #d3d3d3 !important;
}

.bg-green{
    background-color: #228b22;
}
/*
*********
Fine section
*********
*/

/*
*********
Footer
*********
*/

footer{
    background-color: #23272a;
    padding: 5px;
}

.purple {
    background-color: #f08080;
    flex-grow: 2;
    border: 1px dashed black;
}
.acqua {
    background-color: #20b2aa;
    flex-grow: 1;
    border: 1px dashed white;
}

#circle{
    border-radius: 2%;
}

hr {
    border: 2px solid #b4b4b3;
}

#top {
    background-color: #7fffd4;
    margin: 10px auto;
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    width: 900px; 
}

.button{
    background-color: #f08080;
    border: 1px dashed black;
    
}

/*
*********
Fine Footer
*********
*/






